{% set page_title = 'Connexion' %}

{% extends 'base/base-empty-nopadding.html.twig' %}

{% block content %}

  {% if app.user == null %}



  <div class="login-form-wrapper">
    <div class="login-form">

      <div class="login-form-logo" style="background-image: url({{ asset('media/img/logo-gsb.png') }});">
      </div>

      {% if error %}
        <div class="alert-danger login-form-flash">
          <i class="fas fa-exclamation-triangle"></i>
          {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
      {% endif %}

      <form action="{{ url('login') }}" method="post">
          <div class="login-form-item">
            <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Nom d'utilisateur"/>
          </div>
          <div class="login-form-item">
            <input type="password" id="password" name="_password" placeholder="Mot de passe"/>
          </div>
          <input type="hidden" name="_target_path" value="/account" />
          <div class="login-form-item">
            <button class="btn" type="submit">Se connecter</button>
          </div>
      </form>
    </div>
  </div>

  {% else %}

  <div class="login-form-wrapper">
    <div class="login-form">
      <p>Vous etes deja connecte. Vous serez redirige vers votre compte.</p>
      <meta http-equiv="refresh" content="3;url={{ url('user_account') }}">
    </div>
  </div>

  {% endif %}

{% endblock %}
