{% block sidebar %}

<div class="sidebar-wrapper">

  <div class="sidebar-user-profile">
    <div class="sidebar-user-picture" style="background-image: url({{ asset('media/img/default-user-picture.jpg') }});"></div>
    <p class="sidebar-user-name">{{ app.user.firstname }} {{ app.user.lastname }}</p>
    <p class="sidebar-user-role">{{ app.user.roles[1] }}</p>
    <div class="sidebar-user-account text-center">
      <a class="btn blue-btn square-btn" href="{{ url('user_account') }}"><i class="fas fa-user" style="margin-right:10px;"></i>Mon compte</a>
      <a class="btn red-btn square-btn" href="{{ url('logout') }}"><i class="fas fa-power-off"></i></a>
    </div>
  </div>

  <ul class="sidebar-nav">
    <li class="sidebar-menu-item">
      <a href="{{ url('products_list') }}"><i class="fas fa-angle-right"></i>Liste des médicaments</a>
    </li>
  </ul>

</div>

{% endblock %}
